.header {
    padding: 50px 0;
    margin-bottom: 45px;

    .header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        display: flex;
        gap: 0 42px;
    }

    .link {
        color: #5FB4A2;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    a {
        color: #33323D;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}