.info {

    .info-wrap {
        display: flex;
        gap: 0 125px;
    }

    .info-left {
        hr {
            width: 350px;
            height: 1px;
            margin-bottom: 48px;
            opacity: 0.15;
            background: #33323D;
        }

        h3 {
            margin-bottom: 30px;
            color: #33323D;
            font-family: 'Ibarra Real Nova', serif;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: -0.357px;
        }

        p {
            width: 350px;
            margin-bottom: 23px;
            color: #33323D;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 25px;
        }

        h6 {
            margin-bottom: 16px;
            color: #5FB4A2;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }

        h5 {
            margin-bottom: 32px;
            color: #5FB4A2;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;
        }

        a {
            width: 178px;
            height: 48px;
            padding: 17px 32px;
            border: 1px solid #33323D;
            color: #33323D;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        a:hover {
            opacity: 0.6;
        }

        a:active {
            opacity: 0.4;
        }
    }

    .info-right {

        margin-bottom: 32px;
        h4 {
            margin-bottom: 28px;
            color: #33323D;
            font-family: 'Ibarra Real Nova';
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: -0.286px;
        }

        p {
            width: 635px;
            opacity: 0.8;
            margin-bottom: 40px;
            color: #33323D;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;

            a {
                opacity: 0.8;
                color: #33323D;
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;
                text-decoration-line: underline;
            }
        }

        h5 {
            margin-bottom: 28px;
            color: #33323D;
            font-family: 'Ibarra Real Nova';
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px;
            letter-spacing: -0.286px;
        }
    }

}